/* CONTENT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* HEADER */
.head {
    background-color: white;
    padding: 10px;
}

.logo-title {
    display: inline-block;
    font-size: 42px;
}

/* MAIN */
.contain {
   
}

.tab-contain {
    width: 70%;
    padding: 20px 65px 10px;
    margin: 40px auto 5px;
    border-radius: 5px;
    background-color: white;
}

.tab {
    display: inline-block;
    width: 75px;
    height: 25px;
    background-color: #47adf1;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.tab2 {
    width: 100px;
    border: 1px solid;
    color: #d5d9dd;
    background-color: white;
    vertical-align: middle;
}