/* CONTENT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* HEADER */
.head {
    background-color: white;
    padding: 15px;
}

.logo {
    vertical-align: middle;
}

.logo-title {
    display: inline-block;
    font-size: 42px;
    vertical-align: middle;
}

/* NAV */
.tab-contain {
    width: 70%;
    padding: 20px 65px 10px;
    margin: 40px auto 5px;
    border-radius: 5px;
    background-color: white;
}

.tab {
    display: inline-block;
    width: 75px;
    height: 25px;
    background-color: #47adf1;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.tab2 {
    width: 100px;
    border: 1px solid;
    color: #d5d9dd;
    background-color: white;
    vertical-align: middle;
}

/* MAIN */
.contain {
    width: 70%;
    padding: 40px 65px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
}

.margin {
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
}

.entity {
    margin-right: 5px;
}

.list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: 15px;
}

.entity-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: green;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}

.entity-remove {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: red;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    transform: rotate(45deg);
}

.ticket {
    display: inline-block;
    width: 65px;
    height: 20px;
    background-color: #47adf1;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.n2 {
    background-color: #9c72e4;
}

.n3 {
    background-color: #64c0a9;
}

.n4 {
    background-color: #f29e3f;
}

.n5 {
    background-color: #d863a1;
}

.n6 {
    background-color: #b4cd3d;
}